.social-btn {
    width: 100%;
    font-weight: 500;
    border: 1px solid #16a085;
    background: none;
    padding: .8rem;
    border-radius: 50px;
}

.social-btn:hover {
    background: #16a085;
    color: #ffff;
}

.social-btn img {
    width: 24px;
}