.inventory-btn{
    display: block;
    margin: 0 auto;
    border: none;
    background-color: #16a085;
    border-radius: 5px;
    padding:.5rem 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}
.inventory-btn:hover{
    color: #fff;
}
